
.container__card {
    background-color: black; 
    display: flex;
    justify-content: center;
    align-items: center;
}


.content_card {
    margin-left: 5%;
    width: 90%;
    padding: 15px;
    cursor: pointer;
    display: flex;
    border-radius: 10px;
    margin-bottom: 15px;
    justify-content: space-between;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
    background-color: var(--main-bg);
    box-shadow: var(--box-shadow);
}

.card_details {
    display: flex;
}

.card_details .img_folder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_details .img_folder i {
    width: 70px;
    font-size: 3rem;
    margin-left: 1rem;
    padding: 10px;
    color: var(--txt-color);
    background: rgb(216, 205, 226);
}

.card_details .text {
    margin-left: 2.3rem;
}

.card_details .text span {
    color: var(--txt-color);
}

.content_card:active {
    border: 2px solid blueviolet;
    transition: 0.4s;
  }

  .job_salary {
    text-align: right;
    color: var(--txt-color);
  }

  .job_salary span {
    color: var(--txt-color);
    font-size: 15px;
  }

  .imageFolder {
    width: 45px;
    height: 45px;
  }