// @charset "UTF-8";    
.container__table {
    display: flex;
    justify-content: center;
    align-items: center;

}

main.table {
    background-color: var(--main-table);
    width: 100%;

    // width: 82vw;
    height: 90vh;
    padding-left: 1rem;
    // background-color: #fff5;

    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;

    overflow: hidden;
}

.icon {
    margin-right: 10px;
    /* Espace entre les icônes */
    cursor: pointer;
    transition: all 0.2s ease-out;

    &:hover {
        transform: scale(1.5);
        transition: all 0.2s ease-out;
    }
}


.table__header {
    width: 100%;
    height: 10%;
    background-color: #fff4;
    padding: .8rem 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--box-shadow);
}


.table__header .input-group {
    width: 35%;
    height: 100%;
    background-color: #fff5;
    padding: 0 .8rem;
    border-radius: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: .2s;
    box-shadow: var(--box-shadow);
}


.table__header .input-group:hover {
    width: 45%;
    background-color: #fff8;
    box-shadow: 0 .1rem .4rem #0002;
}

.table__header .input-group img {
    width: 1.2rem;
    height: 1.2rem;
}


.table__header .input-group input {
    width: 100%;
    padding: 0 .5rem 0 .3rem;
    background-color: transparent;
    border: none;
    outline: none;
}

.table__body {
    width: 95%;
    max-height: calc(89% - 1.6rem);
    background-color: var(--second-bg);
    box-shadow: var(--box-shadow);

    margin: .8rem auto;
    border-radius: .6rem;

    overflow: auto;
    overflow: overlay;
}


.table__body::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}


.table__body::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}


.table__body:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}


.table {
    width: 100%;
}


.td img {
    width: 36px;
    height: 36px;
    margin-right: .5rem;
    border-radius: 50%;

    vertical-align: middle;
}


.table,
.th,
.td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
}

.thead .th {
    position: sticky;
    top: 0;
    left: 0;
    // background-color: #d5d1defe;
    background-color: var(--second-bg);
    // cursor: pointer;
    text-transform: capitalize;
}


.tbody tr:nth-child(even) {
    background-color: #0000000b;
}

.tbody tr {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay), background-color 0s;
}


.tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
}

.tbody tr:hover {
    background-color: #fff6 !important;
    // transform: scale(1.05) !important;
    // background-color: var(--second-color) !important;
    // color: var(--txt-color);
}

.tbody tr .td,
.tbody tr .td p,
.tbody tr .td img {
    transition: .2s ease-in-out;
}


.tbody tr.hide .td,
.tbody tr.hide .td p {
    padding: 0;
    font: 0 / 0 sans-serif;
    transition: .2s ease-in-out .5s;
}

.tbody tr.hide .td img {
    width: 0;
    height: 0;
    transition: .2s ease-in-out .5s;
}


.status {
    padding: .4rem 0;
    border-radius: 2rem;
    text-align: center;
}

@media (max-width: 1000px) {
    .td:not(:first-of-type) {
        min-width: 12.1rem;
    }
}

.thead .th span.icon-arrow {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    border: 1.4px solid transparent;

    text-align: center;
    font-size: 1rem;

    margin-left: .5rem;
    transition: .2s ease-in-out;
}

.thead .th:hover span.icon-arrow {
    border: 1.4px solid #6c00bd;
}

// .thead .th:hover {
//     color: #6c00bd;
// }

.thead .th.active span.icon-arrow {
    // background-color: #6c00bd;
    color: #fff;
}

.thead .th.asc span.icon-arrow {
    transform: rotate(180deg);
}

.thead .th.active,
.tbody td.active {
    color: #6c00bd;
}


.export__file {
    // position: absolute;
    position: relative;
}

.export__file .export__file-btn {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background: #fff6 url(../../assets/images/export.png) center / 80% no-repeat;
    border-radius: 50%;
    transition: .2s ease-in-out;
}


.export__file .export__file-btn:hover {
    background-color: #fff;
    transform: scale(1.15);
    cursor: pointer;
}

.export__file input {
    display: none;
}

.export__file .export__file-options {
    position: absolute;
    right: 0;

    width: 12rem;
    border-radius: .5rem;
    overflow: hidden;
    text-align: center;

    opacity: 0;
    transform: scale(.8);
    transform-origin: top right;

    box-shadow: 0 .2rem .5rem #0004;

    transition: .2s;
}



.export__file input:checked+.export__file-options {
    opacity: 1;
    transform: scale(1);
    z-index: 100;
}

.export__file .export__file-options label {
    display: block;
    width: 100%;
    padding: .6rem 0;
    background-color: #f2f2f2;

    display: flex;
    justify-content: space-around;
    align-items: center;

    transition: .2s ease-in-out;
}

.export__file .export__file-options label:first-of-type {
    padding: 1rem 0;
    background-color: #86e49d !important;
}

.export__file .export__file-options label:hover {
    transform: scale(1.05);
    background-color: #fff;
    cursor: pointer;
}

.export__file .export__file-options img {
    width: 2rem;
    height: auto;
}




.tbody .tr {
    transition: opacity 0.4s ease, transform 0.4s ease;
    opacity: 1;
}

.tbody .tr.hide {
    opacity: 0;
    transform: translateX(-100%);
    pointer-events: none;
}

.tbody .tr:not(.hide) {
    opacity: 1;
    transform: translateX(0);
}




.table__header .searchByeverything {
    position: relative;
    height: 30px;
    background-color: var(--main-bg);
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    width: 17%;
    border: none;
    color: var(--txt-color);
    padding: 0rem .5rem;
}


.option_right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.export__file {
    margin-top: 1rem;
}



.dropdown-container {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    /* Masquer par défaut */
    position: absolute;
    background-color: white;
    // background-color: var(--second-color);
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    /* Assurez-vous que le menu est au-dessus des autres éléments */
    border-radius: 4px;
    margin-top: 5px;
    width: 250px;
    /* Largeur du menu déroulant, augmentée ici */
    // height: 10vh;
    animation: fadeIn 0.3s ease;
    /* Animation d'apparition */
}

.dropdown-container:hover .dropdown-menu,
.dropdown-container:focus-within .dropdown-menu {
    display: block;
    /* Afficher le menu lorsque le conteneur est survolé ou actif */
}

.dropdown-menu button {
    color: black;
    // color: var(--txt-color);
    width: 100%;
    padding: 10px;
    background-color: transparent;
    border: none;
    text-align: left;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;

    &:hover {
        background-color: #f0f0f0;
        /* Couleur de survol */
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.icon_add {
    cursor: pointer;
    color: var(--txt-color);
    transition: color 0.3s;
    transition: all 0.2s ease-in-out;

    &:hover {
        color: #007bff;
        transition: all 0.2s ease-in-out;

    }
}


.icon_add {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg);
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
    box-shadow: var(--box-shadow);
    width: 2rem;
    height: 2rem;
}

.icon_add:hover {
    // transform: scale(1.6);
    transition: all 0.2s ease-in-out;
    transform: rotateZ(90deg);
}

.icon_refech {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg);
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
    box-shadow: var(--box-shadow);
    width: 2rem;
    height: 2rem;
}

.icon_refech:hover {
    transition: all 0.2s ease-in-out;
    transform: rotateZ(360deg);
}

.icon_refech {
    cursor: pointer;
    color: var(--txt-color);
    transition: color 0.3s;
    transition: all 0.2s ease-in-out;

    &:hover {
        color: #00ffbb;
        transition: all 0.2s ease-in-out;
    }
}



.content-to-print {
    display: none;
}

@media print {
    .content-to-print {
        display: block !important;
        font-size: 10px;
        /* Réduire la taille du texte */
    }
}



.icon_download {
    color: #fffafb;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all 0.2s ease;
    cursor: pointer;
    color: var(--txt-color);

}

.background_download {
    // background-color: #0dbd00;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-left: 20px;
    transition: all 0.2s ease;
    background-color: var(--main-bg);
    box-shadow: var(--box-shadow);

    .icon_download {
        &:hover {
            color: #006b21;
            // transform: rotateZ(90deg);
        }

    }

    &:hover {
        // transform: scaleX(1.8);
        transition: all 0.2s ease;
        transform: translateY(5px);
        color: #006b21;

    }
}


.dropdown-item {
    // width: 1.2rem;
    display: flex;
    // justify-content: center;
    // align-items: center;
    gap: 0.2rem;

    img {
        width: 1.1rem;
    }
}




// REACH BY TWO DATES
.container__search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    gap: 5%;
    transition: all 0.3s ease-in-out;

    .contents__search {
        display: flex;
        justify-content: center;
        align-items: center;
        // background-color: #006b21;
        margin-left: 1rem;
        // gap: 5%;
        // width: 100%;
        width: 45%;


        input {
            width: 100%;
            font-size: 1rem;
            padding: 10px 20px;
            border: none;
            // border-bottom: 3px solid gray;
            background-color: #fff5;
            border-radius: 50px;
            // background-color: transparent;
            box-shadow: var(--box-shadow);
            color: var(--txt-color);
            transition: all 0.1s ease;

            &:focus {
                border-color: #0056b3;
                outline: none;
            }

            &:hover {
                background-color: #fff8;
                box-shadow: var(--box-shadow);
                padding: 13px 20px;
                transition: all 0.1s ease;
                color: rgb(29, 28, 28);
                // width: 50%;
            }
        }
    }

    .search__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.5rem;
        height: 2.2rem;
        border-radius: 50%;
        transition: all 0.2s ease;
        background-color: var(--main-bg);
        box-shadow: var(--box-shadow);
        cursor: pointer;

        &:hover {
            transform: scale(1.2);
            transition: all 0.3s ease-in-out;
        }

        .search__icon {
            color: #fffafb;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.2rem;
            transition: all 0.2s ease;
            cursor: pointer;
            color: var(--txt-color);

            &:hover {
                color: #0048ff;
                transform: scale(1.1);
                transition: all 0.3s ease-in-out;
            }
        }
    }

}


$linear-gradient: linear-gradient(90deg, #97776f, #6dfa08);

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    font-family: Arial, sans-serif;
}

.pagination-button {
    background-color: var(--second-color);
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    color: white !important;
    box-shadow: var(--box-shadow);
}

.pagination-button:disabled {
    background-color: var(--second-bg) !important;
    color: var(--txt-color) !important;
    box-shadow: var(--box-shadow);
    cursor: not-allowed;
}

.pagination-button:hover:not(:disabled) {
    background-color: var(--primary-color);
}

.pagination-info {
    margin: 0 15px;
    font-size: 16px;
    color: #333;
    color: var(--txt-color);

}

.visibleNo {
    display: none;
}


.color__icon-visible:hover {
    color: rgb(76, 76, 239);
}

.color__icon-delete:hover {
    color: rgb(239, 76, 76);
}