.container__archive {
  padding-top: calc(var(--topnav-height) + 20px);
}


.title_archive {
  margin-left: 5%;
  // width: 90%;
  padding-bottom: 2%;
  font-size: 1.2rem;
  font-weight: 900;
}


/* archive.scss */

/* Container de la pagination */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  list-style: none;
  padding: 0;
}

/* Style pour chaque bouton de page */
.pagination li {
  margin: 0 5px;
}

.pagination a {
  display: block;
  padding: 10px 15px;
  border-radius: 50px;
  background-color: var(--main-bg);
  color: var(--txt-color);
  box-shadow: var(--box-shadow);
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  // background-color: #f0f0f0;
  // color: #333;
}

.pagination a:hover {
  background-color: var(--second-color);
  color: var(--txt-white);
  // color: var(--txt-color);
  // background-color: #007bff; /* Couleur lors du hover */
  /* Couleur lors du hover */
  // color: #fff;
}

/* Style pour la page active */
.pagination .active a {
  background-color: var(--second-color);
  color: var(--txt-white);
  font-weight: bold;
  // background-color: #007bff;
  // color: var(--txt-color);
  // color: white;
}

/* Style pour le bouton précédent/suivant */
.pagination .previous a,
.pagination .next a {
  background-color: var(--main-bg);
  box-shadow: var(--box-shadow);
  color: var(--txt-color);
  // background-color: #e0e0e0;
  // color: #666;
}

.pagination .previous a:hover,
.pagination .next a:hover {
  background-color: var(--second-color);
  color: var(--txt-color);
  // color: #fff;
  // background-color: #007bff;
}